<%- include ('partials/header') %>


    <!-- START OF MAIN CONTENT -->

    

    <main class="d-flex text-center px-5 mb-5">
        <article class="row g-2 justify-content-center">
            <% for (const category of categories) { %>
            <figure class="col-md-6 col-xl-4 col-xxl-3 px-4">
                <a href="/category/<%= category.id %>"><img style="border-radius: 1%; width: 400px; height: 400px; object-fit: cover;" class="img-fluid" src="<%= category.image %>" alt=""></a>
                <div class=""><a class="fs-4 pt-3 ps-5 pe-5 pb-2" style="text-decoration: none; color: inherit; background-color: rgba(238, 210, 176, 0.5);" href="/category/<%= category.id %>"><%= category.name %></a>
                </div>
        </figure>
        <% } %>
          
        </article>
    </main>



    <!-- END OF MAIN CONTENT -->

<%- include ('partials/footer') %>
